
//********** HEADER **********//
@mixin max-container{
    max-width: 1100px;
    margin-inline: auto;
    
}

@mixin nav-bar{
    display: flex;
    justify-content: space-around;
    height: 120px;
    
}

@mixin color-text{
    list-style: none;
    align-items: center;
    gap: 1rem;
    display: flex;
   
}

@mixin size-img{
    margin-top: 1rem;
    height: 80px;
}

//********** MAIN **********//

@mixin color-main{
background-color: black;
    height: 150px;
   
}

@mixin color-cont{
    background-color: rgb(2, 130, 249);
}

@mixin mini-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    color: white;
   
}

@mixin color-text-main{
   text-align: center;
    color: white;
}

@mixin img-main{
    height: 50px;
}

@mixin container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


//********** FOOTER **********//

@mixin list-footer{
    margin-top: 1rem;
    color: white;
    list-style: none;
    
}

@mixin title{
    font-size: 1.5rem;
    
}

@mixin bar-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(48, 48, 48);
    height: 90px;
    
}

@mixin button-footer{
    background-color: rgb(48, 48, 48);
    color: white;
    margin-left: 8rem;
    height: 40px;
    width: 150px;
    border: 3px solid  rgb(2, 130, 249);
}

@mixin icon{
    height: 30px;
    display: flex;
    gap: .7rem;
}

@mixin title-icon{
    color: rgb(2, 130, 249);
}

@mixin container-image{

    
   
   
}
@mixin bg-image{
     
    height: 446px;
     position: relative;
     top: -254px;
     right: -350px;
    
   
}
